*{
   padding: 0;
   margin: 0;
}

body {
   background-color: #283faa;
   height: 100vh;
   display: flex;
   place-items: center;
   justify-content: center;
   align-items: center;
}

button{
   font-family: Roboto, sans-serif;
   font-weight: 0;
   font-size: 14px;
   color: #fff;
   background-color: #0066CC;
   padding: 10px 30px;
   border: 2px solid #0066cc;
   box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
   border-radius: 50px;
   transition : 1000ms;
   transform: translateY(0);
   display: flex;
   flex-direction: row;
   align-items: center;
   cursor: pointer;
}

button:hover{
   transition : 1000ms;
   padding: 10px 50px;
   transform : translateY(-0px);
   background-color: #fff;
   color: #0066cc;
   border: solid 2px #0066cc;
}

